.sui-prose {
  line-height: 1.5;
  color: var(--sui-fg);
}

.sui-prose h1,
.sui-prose h2,
.sui-prose h3 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.sui-prose h1 {
  font-size: 2rem;
}

.sui-prose h2 {
  font-size: 1.5rem;
}

.sui-prose h3 {
  font-size: 1.25rem;
}

.sui-prose p {
  margin-bottom: 1rem;
}

.sui-prose a {
  color: var(--sui-p);
}

.sui-prose a:hover {
  color: darken(var(--sui-p), 10%);
}

.router-link-active {
  text-decoration: underline;
}

.sui-prose ul,
.sui-prose ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.sui-prose ul {
  list-style-type: disc;
}

.sui-prose ul ul {
  list-style-type: circle;
}

.sui-prose ul ul ul {
  list-style-type: square;
}

.sui-prose ol {
  list-style-type: decimal;
}

.sui-prose ol ol {
  list-style-type: upper-alpha;
}

.sui-prose li {
  margin-bottom: 0.5rem;
}

.sui-prose blockquote {
  border-left: 4px solid var(--sui-border);
  padding-left: 1rem;
  margin: 1rem 0;
  color: var(--sui-fg-muted);
}

.sui-prose code {
  background-color: var(--sui-bg-muted);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.sui-prose pre {
  background-color: var(--sui-bg-muted);
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

.sui-prose pre code {
  background: none;
  padding: 0;
  font-size: inherit;
}